* {
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  width: 1024px;
  height: 65px;
  /* background-color: lightskyblue; */
  margin: auto;
  border: 1px solid black;
}

.container {
  display: flex;
  width: 1024px;
  /* 運算符號 (+, -, *, /) 兩側必須留空格，否則部分瀏覽器可能無法正確解析 */
  height: calc(768px - 65px - 20px);
  /* background-color: lightseagreen; */
  margin: auto;
  /* border: 1px solid black; */
  border-bottom: 0px;
}

.container-left {
  width: 215px;
  height: 100%;
  /* background-color: lemonchiffon; */
  display: flex;
  flex-direction: column;
}

.left-top {
  width: 100%;
  height: calc(768px - 65px - 20px - 25px);
  /* background-color: gold; */
  border: 1px solid black;
  border-top: 0px;
}

.menu-title {
  color: #ff00ff;
  font-size: 24px;
  font-family: "標楷體";
  text-align: center;
  /* text-decoration: underline;  */
  width: 50%;
  border-bottom: 1px solid black;
  margin: auto;
}

.menu-container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu {
  width: 200px;
  height: 35px;
  background-color: bisque;
  text-align: center;
  background-image: url(../image/menu1.png);
  border-radius: 10px;
  margin-top: 10px;
  color: #000000;
  font-size: 16px;
  font-family: "標楷體";
  padding-top: 6px;
  font-weight: 500;
}

.menu:hover {
  background-image: url(../image/menu2.png);
}

.left-bottom {
  width: 100%;
  height: 25px;
  /* background-color: lightsalmon; */
  border: 1px solid black;
  border-top: 0px;
  text-align: center;
  line-height: 25px;
}

.container-right {
  width: calc(1024px - 215px);
  height: 100%;
  /* background-color: lightslategray; */
}

marquee {
  font-family: "標楷體";
  font-size: 24px;
  color: #0000ff;
}

.right-top {
  width: 100%;
  height: 29px;
  /* background-color: lightgreen; */
}

.right-bottom {
  width: 100%;
  height: calc(768px - 65px - 20px - 29px);
  /* background-color: rgb(10, 167, 167); */
  border: 1px solid black;
  border-left: 0px;
}

.footer {
  width: 1024px;
  height: 20px;
  /* background-color: lightcoral; */
  margin: auto;
  border: 1px solid black;
  border-top: 0px;
  font-family: "標楷體";
  color: #000000;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

iframe {
  width: 100%;
  height: 100%;
}
